name: Automate SQL Production
on: push
jobs:
  development:
    uses: ./.github/workflows/sql_server_template.yml
    with:
     sql_file: "database_setup.sql"
    secrets:
     sql_server: ${{ secrets.SQL_SERVER }}
     sql_password: ${{ secrets.SQL_PASSWORD }}

  production:
    needs: development
    environment: production
    uses: ./.github/workflows/sql_server_template.yml
    with:
     sql_file: "database_setup.sql"
    secrets:
     sql_server: ${{ secrets.SQL_SERVER_MZU }}
     sql_password: ${{ secrets.SQL_PASSWORD_MZU }}
