name: Lint Test Deploy
on: push
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Get Code
        uses: actions/checkout@v3
      - name: Install dependencies
        run: npm ci
        working-directory: project4
      - name: Lint project
        run: npm run lint
        working-directory: project4
      - name: Test Project
        run: npm run test
        working-directory: project4
      - name: Deploy project
        run: npm run build
        working-directory: project4
