name: Super-Linter

on: push

jobs:
  super-lint:
    name: Lint code base
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Run Super-Linter
        uses: github/super-linter@v4
        env:
          #DEFAULT_BRANCH: main
          #GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          RUN_LOCAL: true        # Use local environment for the linter
          DEFAULT_BRANCH: main  # Default branch to use when checking for changes
          # Additional configurations:
          # Set SQL dialect (optional)
          SQLFLUFF_CONFIG_FILE: tsql
